[submodule "include/cpr"]
	path = include/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "include/json"]
	path = include/json
	url = https://github.com/nlohmann/json.git
[submodule "include/httplib"]
	path = include/httplib
	url = https://github.com/yhirose/cpp-httplib
